* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: blue;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav input {
    width: 22rem;
    height: 40px;
    padding:0px 15px;
    border: 0;
    outline: none;
}
input:focus {
    border: 0;
    outline: none;
}
.form .search-btn {
    text-align: center;
    height: 40px;
    padding: 0px 15px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, .8);
    color: white;
}


/*Main Section*/
.div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 1rem;
}
.cont {
    width: 300px;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2),
                -2px -2px 2px rgba(0, 0, 0, .2);
    margin: 15px;
}
 .cont img {
    width: 100%;
    height: 360px;
    object-fit: cover;
}
.texts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: .9rem;
    margin: 5px auto 0;
}
h2 {
    font-size: 1rem;
}





@media screen and (max-width: 600px) {
    nav {
        padding: 15px 10px;
    }
    nav a {
        font-size: 1.5rem;
    }
    nav input {
        width: 11rem;
    }
}